{% extends 'base.html.twig' %}

{% block content_header %}
    <h2>{{ optionInTournament.idTournament.name }}</h2>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h3>
                        {{ optionInTournament.title }}
                    </h3>
                </div>
                <div class="card-body">
                    <p>{{ optionInTournament.description }}</p>
                    <select>
                        <option>Aaa</option>
                        <option>Aaa</option>
                        <option>Aaa</option>
                        <option>Aaa</option>
                    </select>
                    <a class="btn btn-primary">Vote</a>
                </div>
                <div class="card-footer">
                    Announced by:
                    <span class="text-muted">
                        {{ optionInTournament.idUser.firstName~' '~optionInTournament.idUser.lastName }}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <img alt="promoter-photo" class="img-bordered img-circle img-fluid"
                         src="https://media-exp1.licdn.com/dms/image/C4E03AQFtYIhJRQ7xvg/profile-displayphoto-shrink_800_800/0/1516291647405?e=1615420800&v=beta&t=6V-jvtptiI1HNg3JaC3BhubSqyTM8vhfqWGVMXmorF0">
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3>
                        Other options
                    </h3>

                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for item in optionInTournament.idTournament.optionsInThisTournament|slice(0,5) %}
                            {% if item.id != optionInTournament.id %}
                                <li class="list-group-item">
                                    <a href="{{ path('option-in-tournament-show', {'id':item.id}) }}"><i
                                                class="fa fa-angle-right"></i>
                                        {{ item.title|length > 40 ? item.title|slice(0, 40)~'...' : item.title }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}