{% extends 'base.html.twig' %}

{% block content_header %}
    <h2>{{ optionInTournament.idTournament.name }}</h2>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h3>
                        {{ optionInTournament.title }}
                    </h3>
                </div>
                <div class="card-body">
                    <p>{{ optionInTournament.description }}</p>
                    {% if  tournamentUserType is defined and tournamentUserType == tournament_privilege.T_VOTER %}
                        {% if form is defined %}
                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <button type="submit" class="btn btn-primary">Vote</button>
                            {{ form_end(form) }}
                        {% elseif votePriority is defined %}
                            <div class="alert alert-success alert-dismissible">
                                <h5>
                                    <i class="icon fas fa-check"></i>
                                    You have already voted on this option
                                </h5>
                                Priority: {{ votePriority.priority }}
                                (Max priority:<span class="font-weight-bold">{{ votePriority.idOptionInTournament.idTournament.votesQuantity }}</span>)
                                <a class="btn btn-secondary" href="{{ path('vote-delete', {'id':votePriority.id}) }}">
                                    Delete vote
                                </a>
                            </div>
                        {% else %}
                            <div class="alert alert-info alert-dismissible">
                                <h5>
                                    <i class="icon fas fa-exclamation-triangle"></i>
                                    You do not have free votes
                                </h5>
                                Delete votes in this tournament to vote this option
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="card-footer">
                    Announced by:
                    <span class="text-muted">
                        {{ optionInTournament.idUser.firstName~' '~optionInTournament.idUser.lastName }}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <img alt="promoter-photo" class="img-bordered img-circle img-fluid"
                         src="{{ asset('dist/img/no-photo.jpg') }}">
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3>
                        Other options
                    </h3>

                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for item in optionInTournament.idTournament.optionsInThisTournament|slice(0,5) %}
                            {% if item.id != optionInTournament.id %}
                                <li class="list-group-item">
                                    <a href="{{ path('option-in-tournament-show', {'id':item.id}) }}"><i
                                                class="fa fa-angle-right"></i>
                                        {{ item.title|length > 40 ? item.title|slice(0, 40)~'...' : item.title }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}