{% extends 'base.html.twig' %}

{% block body %}
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="main_heading text_align_center">
                            <h2>Select tournament</h2>
                            <p class="large">Which tournament, you want to see possible choices</p>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row">
                {% for item in pagination %}
                    {% set tournament = item.tournamentUser.idTournament %}
                    {% set uType = item.tournamentUser.tournamentUserType %}
                    <div class="col-lg-4 col-md-6 custom-card">
                        <div class="card">
                            <div class="card-body custom-card-body">
                                <h3 class="card-title">
                                    {{ tournament.id }}: {{ tournament.name|length > 50 ? tournament.name|slice(0,50)~'...' : tournament.name }}
                                </h3>
                                <p class="card-text">
                                    {{ tournament.description|slice(0,150) }}
                                </p>
                                <span>
                                    <i class="fa fa-user"></i>
                                    {% if uType == T_ADMIN %}{{ raw_T_ADMIN }}
                                    {% elseif uType == T_MODDER %}{{ raw_T_MODDER }}
                                    {% elseif uType == T_VOTER %}{{ raw_T_VOTER }}
                                    {% elseif uType == T_DELETED %}{{ raw_T_DELETED }}
                                    {% else %} -
                                    {% endif %}
                                </span>
                                <span><i class="fa fa-book"></i>{{ item.options }}</span>
                                <span><i class="fa fa-calendar"></i> {{ tournament.createAt ? tournament.createAt.format('d M Y') }}</span>
                                {% if uType != T_DELETED %}
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="center">
                                                <a href="{{ path('tournament-show',{'id':tournament.id}) }}" class="btn btn-group-lg btn-primary">
                                                    Select
                                                </a>
                                            </div>
                                        </div>
                                        {% if uType == T_ADMIN %}
                                            <div class="col-sm-6">
                                                <div class="center">
                                                    <a href="{{ path('tournament-edit',{'id':tournament.id}) }}" class="btn btn-success">
                                                        Edit
                                                    </a>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                    {% if uType == T_ADMIN or uType == T_MODDER %}
                                        <div class="center">
                                            <a href="{{ path('option-in-tournament-new',{'tournament':tournament.id}) }}" class="btn btn-success">
                                                Add
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>



                {% else %}
                    <div class="col-md-12 center">
                        <span>No data</span>
                    </div>
                {% endfor %}

            </div>

            <div class="row">
                <div class="col-md-12 center">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}