<!DOCTYPE html>

<html lang="en">

{% include 'base_component/head.html.twig' %}

{% set currentPath = app.request.attributes.get('_route') %}

<body class="hold-transition layout-top-nav dark-mode layout-navbar-fixed">
<div class="wrapper">
    <!-- Navbar -->
    {% block navbar %}
        <nav class="main-header navbar navbar-expand-md navbar-light navbar-dark navbar-navy">
            <div class="container">
                <a href="{{ path('main') }}" class="navbar-brand">
                    <img src="{{ asset('dist/img/AdminLTELogo.png') }}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3">
                    <span class="brand-text font-weight-light">Choose Promoter!</span>
                </a>

                <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                    <!-- Left navbar links -->
                    <ul class="navbar-nav">
                        {% if(is_granted('ROLE_USER')) %}
                            <li class="nav-item">
                                <a href="{{ path('tournament-new') }}" class="nav-link {{ currentPath == 'tournament-new' ? 'active' }}"><i class="fa fa-plus-square"></i> New tournament</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('tournament') }}" class="nav-link {{ currentPath == 'tournament' ? 'active' }}">My tournaments</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="{{ path('app_login') }}" class="nav-link {{ currentPath == 'app_login' ? 'active' }}">Login</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_register') }}" class="nav-link {{ currentPath == 'app_register' ? 'active' }}">Register</a>
                            </li>
                        {% endif %}
                        {% if(is_granted('ROLE_ADMIN')) %}
                            <li class="nav-item dropdown {{ 'admin' in currentPath  ? 'active' }}">
                                <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">
                                    <i class="fa fa-ambulance"></i>
                                    Admin panel
                                </a>
                                <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow" style="left: 0px; right: inherit;">
                                    <a href="{{ path('admin-tournament') }}" class="dropdown-item">
                                        <i class="fas fa-circle"></i> Tournament
                                    </a>
                                    <a href="{{ path('admin-option-in-tournament') }}" class="dropdown-item">
                                        <i class="fas fa-circle"></i> Option in tournament
                                    </a>
                                    <a href="{{ path('admin-tournament-user') }}" class="dropdown-item">
                                        <i class="fas fa-circle"></i> Tournament user
                                    </a>
                                    <a href="{{ path('admin-vote') }}" class="dropdown-item">
                                        <i class="fas fa-circle"></i> Vote
                                    </a>
                                    <a href="{{ path('admin-tournament-code') }}" class="dropdown-item">
                                        <i class="fas fa-circle"></i> Tournament Code
                                    </a>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>

                    <!-- SEARCH FORM -->
                    {% if(is_granted('ROLE_USER')) %}
                        <form action="{{ path('add-user-by-code') }}" class="form-inline ml-0 ml-md-3" method="get">
                            <div class="input-group input-group-sm">
                                <input type="text" placeholder="insert code" autocomplete="off" name="tournament_code" class="form-control" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    {% endif %}
                </div>

                <!-- Right navbar links -->
                <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
                    <!-- Messages Dropdown Menu -->
                    {% if app.user %}
                        <li class="nav-item dropdown">
                            <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link">
                                <i class="fa fa-sign-out-alt"></i>
                                {{ app.user.firstName~' '~app.user.lastName }}
                            </a>
                            <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-users mr-2"></i> Profile
                                </a>
                                <a href="{{ path('app_logout') }}" class="dropdown-item">
                                    <i class="fas fa-file mr-2"></i> Logout
                                </a>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    {% endblock %}
    <!-- /.navbar -->

    <!-- Content Wrapper. Contains page content -->

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="container">
                {% block content_header %}

                {% endblock %}
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container">
                {% block body %}

                {% endblock %}
            </div>
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
        <div class="p-3">
            <h5>Title</h5>
            <p>Sidebar content</p>
        </div>
    </aside>
    <!-- /.control-sidebar -->

    <!-- Main Footer -->
    {% block footer %}
        <footer class="main-footer">
            <!-- To the right -->
            <div class="container">
                <div class="float-right d-none d-sm-inline">
                    Made by Tomasz Sewruk
                </div>
                <!-- Default to the left -->
                <strong>Copyright &copy; 2014-2020
                    <a href="{{ path('main') }}">Admin LTE3</a>.</strong> All rights reserved.
            </div>
        </footer>
    {% endblock %}
</div>
<!-- ./wrapper -->

<!-- SCRIPTS -->
{% block js %}
    {% include 'base_component/js_files.html.twig' %}
{% endblock %}

{% block customjs %}{% endblock %}

</body>
</html>
